<div class="top_img_event">
  <div class="container">
    <h1> Discover upcoming events </h1>
    <form>
      <div id="bloodhound">

        <input type="text" class="form-control typeahead" name="search" placeholder="Search for events, shows, courses...">
      </div>
    </form>
  </div>
</div>

<div class="container event-list">
<% count = 1 %>
<% @events.each do |e| %>
    <% if count ==1 %>
        <div class="row event-row">
    <% end %>
    <div class="grid-item col-md-6">
      <% if e.event_image && e.event_image!='' %>
          <%= image_tag(e.event_image, class: "card-img-top", width: "500", height: "250") %>
      <% else %>
          <%= image_tag("http://lorempixel.com/200/200/", class: "card-img-top", width: "300", height: "300") %>
      <% end %>
      <div class="card-block">
        <%= link_to e do %>
          <h4 class="card-title"><%= e.name %></h4>
        <% end %>
        <div class="row">7
          <div class="col-md-6">
          <strong>Start at </strong><h6 class="card-subtitle text-muted"><%= e.start_at.try(:strftime, '%B-%d-%Y %l:%M %p') %></h6>

          </div>
          <div class="col-md-6">

            <strong>End at </strong><h6 class="card-subtitle text-muted"><%= e.end_at.try(:strftime, '%B-%d-%Y %l:%M %p') %></h6>
          </div>
        </div>
        <p class="card-text"><%= e.summary %></p>
      </div>

      <div class="card-block">
        <a href="<%= new_event_order_path(e) %>" class='btn btn-success btn-block'>Book now</a>
      </div>
    </div>
    <% if count == 2 %>
        </div>
        <% count = 1 %>
          <% else %>
          <% count = count+1 %>
    <% end %>

<% end %>
</div>

<script>
  $(function() {

  })
</script>