<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<h1>Hi <%= @recipient.name %></h1>
<p>
<h2>Here is your booking with ticket coder</h2>
<div class="container">
  <h2>Thanks for your event booking</h2>
  <h4>Your booking details</h4>
  <p><strong>Name: </strong><%= @order.user.name %></p>
  <p><strong>Name: </strong><%= @order.user.email %></p>
  <p><strong>Event: </strong><%= @order.tickets.last.ticket_type.event.name %></p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Ticket type</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <% @order.tickets.each do |t| %>
        <tr>
          <td><%= t.ticket_type.name %></td>
          <td><%= t.quantity %></td>
          <td><%= number_to_currency(t.ticket_type.price, precision: 0, separator: '.', delimiter: '.', unit: '', format: "%n VND") %></td>
        </tr>

    <% end %>

    </tbody>
  </table>
</div>
<h4>Ticker Coder Team</h4>
</p>
</body>
</html>