<!DOCTYPE html>
<html>
<head>
  <title>Ticketcode</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>


<div id="notice"><%= flash[:notice] %></div>

<% if current_user %>

    <div class="main-navigation">
      <nav class="navbar navbar-light">
        <div id="nav-container" class="nav navbar-nav center-block">
          <%= link_to "Home", root_path, class: "nav-item nav-link" %>
          <%= link_to "New Event", new_event_path, class: "nav-item nav-link" %>
          <%= link_to "My Event", events_show_mine_path, class: "nav-item nav-link" %>
          <%= link_to "Locations", locations_index_path, class: "nav-item nav-link" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
          <div class="clearfix"></div>
        </div>
      </nav>
    </div>


        <%= yield %>

<% else %>
    <%= yield %>

<% end %>


</body>
</html>
